*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.listItem{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.listItem:hover{
    color: orange;
}
.adm{
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.enq{
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}
.logo{
    height: 80px;
}
.home{
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.home1{
    height: 70vh;
    background-color: royalblue;
    width: 50%;
    position: relative;
}
.home2{
    height: 70vh;
    background-image: url(/images/students.jpg);
    width: 50%;
    background-size: cover;
    
}
.welcome{
    color: white;
    font-size: 70px;
    text-align: center;
    top: 30%;
    position: absolute;
   left: 15%;
}
.btn1{
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: rgb(26, 27, 66);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
.btn1:hover{
    background-color: white;
    color: rgb(26, 27, 66);
    border-style: solid;
    border-width: 2px;
}
.btn2{
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: rgb(115, 117, 224);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
.btn2:hover{
    color: white;
}
.btn3{
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: rgb(190, 143, 55);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
.btn3:hover{
    background-color: white;
    color: rgb(26, 27, 66);
    border-style: solid;
    border-width: 2px;
}
.buttons{
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}
/*
.div1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
*/
.div2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(12, 19, 39);
}
.containerDiv{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    text-align: center;
}
.divA{
    background-color: rgb(216, 160, 57);
    height: 400px;
    width: 400px;
}
.divB{
    background-color: rgb(83, 83, 216);
    width: 400px;
    height: 400px;
}
.divC{
    background-color: rgb(40, 40, 75);
    width: 400px;
    height: 400px;
}
.divD{
    background-color: rgb(212, 149, 159);
    width: 400px;
    height: 400px;
}
.containerDiv2{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}
.containerDiv2 h2{
    margin-top: 150px;
    font-size: 30px;
}
.containerDiv h2{
    margin-top: 150px;
    font-size: 30px;
}
.containerDiv h2:hover{
    color: white;
    cursor: pointer;
}
.containerDiv2 h2:hover{
    color: white;
    cursor: pointer;
}
.divE{
    width: 400px;
    height: 400px;
    background: url(/images/student.jpg);
    background-size: cover;
    cursor: default;   
}
.divF{
    width: 400px;
    height: 400px;
    background-color: rgb(102, 102, 129);
}
.divG{
    width: 400px;
    height: 400px;
    background-color: rgb(9, 9, 247);
}
.divH{
    width: 400px;
    height: 400px;
    background-color: rgb(233, 64, 64);
}
.div3{
    display: flex;
    margin-top: 50px;
    text-align: center;
}
.div3 img:hover{
    height: 114px;
}
.div3 h2{
    color: rgb(12, 19, 39);
    font-size: 25px;
    margin-top: 20px;
}
.Progress{
    margin-left: 150px;
}
.div3 p{
    font-size: 20px;
    margin-top: 15px;
}
.div4{
    width: 100%;
    height: 60vh;
    margin-top: 100px;
    display: flex;
    position: relative;
}
.div4a{
    height: 60vh;
    width: 50%;
    background-size: cover;
   
}
.div4a img{
    height: 60vh;
    width: 110%;
    object-fit: cover;
}
.div4b{
    height: 60vh;
    width: 50%;
    /* background-image: url(../images/Rectangle\ 1.png); */
    position: absolute;
    right: 0%;
}
.div4b img{
    height: 60vh;
    width: 100%;
   position: relative;
}
.div4b h2{
 color: white;
 text-align: center;
 font-size: 50px;
 margin-top: 40px;
}
.div4b p{
    font-size: 30px;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 80px;
}
.div5{
    background-color: rgb(221, 217, 217);
    display: flex;
    width: 50%;
    height: 70vh;
    margin-top: 20px;
    margin-left: 50px;
    position: relative;
    
}
.div5 img{
    height: 20vh;
    border-radius: 5px;
}
/*
.div5 h2{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
    position: absolute;
}*/
.div5a{
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
    object-fit: cover;
    height: 40vh;
    width: 26%;
}
.div5b{
    position: absolute;
    left: 38%;
   top: 0%;
}
.div5c{
    position: absolute;
    left: 70%;
   top: 0;
   height: 40vh;
}